.jumbotron {
  padding-top: 6rem;
  background-color: #343a40;
  font-family: "Quicksand", sans-serif;
}

#projects {
  background-color: #343a40;
}

section {
  padding-top: 5rem;
}

.navbar-brand {
  font-family: "Viga";
  font-size: 32;
}
