.jumbotron {
  padding: 2rem 1rem;
  background-color: bisque;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
